.footer {
  background: var(--header-bg);
  color: var(--brand);
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
}
.footer a {
  color: var(--brand);
  padding: 0px 10px 0px;
  text-decoration: none;
}
@media (max-width: $container-width) {
  .footer {
    background: var(--header-bg);
    color: var(--brand);
    text-align: center;
    min-height: 56px;
    line-height: 45px;
    width: 95vw;
  }
}
.footer-description {
  display: block;
  margin-bottom: 1rem;
  color: var(--muted);
  font-size:0.8rem;
}
.footer-credits {
  display: block;
  margin-bottom: 1rem;
  color: var(--muted);
  font-size: 0.8rem;
}
